 td {
     text-align: center;
     }
     
 #g {
     background-color: purple; 
     color: white;
 }
 
 #hi {
     background-color: green;
     color: white;
 }
  
  #ji {
      background-color: blue;
      color: white;
  }
  
  #li {
      background-color: red;
      color: white;
  }
  #nu7 {
      background-color: black;
      color: yellow;
  }
  
  #pe {
      background-color: deeppink;
      color: gray;
  }